.container-main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    padding: 2vh;
    padding-top: 0vh;
}

.image-car {
    width: 10vh;
    height: 5vh;
}

tbody tr:hover {
    background-color: #fffbf2;
    cursor: pointer;
}

.button-add {
    text-align: right;
    padding: 2vh;
    /* display: flex; */
    /* flex-direction: row;
    justify-content: right; */
}

.title-dialog {
    background-color: #3f51b5 !important;
}

.title-dialog {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 15px
}

.title-dialog h3 {
    color: white;
}